@font-face {
    font-family: gla;
    src: url(glacial-indifference/GlacialIndifference-Regular.otf);
}

html, body {
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: black;
    font-size: 32px;
    font-family: gla, sans-serif;
}

form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

label {
    color: white;
    margin: 0 10px;
}

input {
    font: inherit;

    &[type=submit] {
        background: black;
        color: white;
        border: 2px solid white;
    }
}